# Python cache
__pycache__/
*.pyc

# IDE / Editor specific
.vscode/
.idea/

# Environment folders (never commit these)
venv/
env/
.env

# Large model files & caches - These should be handled manually
FineTuning_phi3/
offload/

# OS-specific files
.DS_Store
Thumbs.db